<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    
    <!-- Page-specific content -->
    <h2>Hi I'm Ellie!</h2>
    <img src="/images/me.png" alt="A picture of me">
    <p>
        I’m really into technology, coding, and design—I love exploring everything from Python and JavaScript to Rust, and I enjoy creating projects that let me put what I’ve learned into practice. I’m also passionate about art, science, and problem-solving, and I like balancing my time between learning new skills and staying active with fitness. I work well both independently and in teams, and I’m always excited to take on challenges and keep growing.
    </p>
</main>
<%- include('partials/footer') %>

